.body{
    background-image: url("");
background-color: #FFCCFF;
font-style: "bold";
padding-left: 5px;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
color: #333333;
font-family: "Century Gothic";
font-size: 20px;
}



