#dhapakhel{
background-color: #009966;
font-family: "century gothic";
font-style: "";
padding-left: 200px;
padding-top: 5px;
padding-right: 5px;
padding-bottom: 5px;
font-size: 15px;
color: #FFF;
}
