.footer{
	margin: o;
background-color: #009966;
font-family: "century gothic";
font-style: "bold";
padding-left: 500px;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
color: #eee;
}