
#myId{
	margin: o;
background-color: #009966;
font-family: "century gothic";
font-style: "bold";
padding-left: 400px;
padding-top: 30px;
padding-right: 30px;
padding-bottom: 30px;
font-size: 50px;
color: #eee;
}
.myclass{
background-color: #333333;
	background-repeat: repeat; 

}

